{{ define "main" }}

<header>
    <h1><a href="/" title="Go to homepage">{{ .Title }}</a></h1>
    <p>{{ .Params.description }}</p>
</header>

<article>

    {{ .Content }}

    <nav>
        <div>
            {{ range .Pages.GroupByDate "2006" }}
            <time class="group">
            <p class="year">{{ .Key }}</p>
            {{ range .Pages.GroupByDate "January" }}
            <p class="month">{{ .Key }}</p>                
            </time>
                    {{- range .Pages -}}
                    <a href="{{ .Permalink }}">
                        <span>{{ .Title }}</span>
                        <hr>
                        <time>{{ .Params.date.Format "2" }}</time>
                    </a>
                    {{- end -}}
            {{ end }}
            {{ end }}
        </div>
    </nav>

</article>

{{ end }}