{{ define "main" }}

<article>

    <header>
        <h1><a href="/" title="Go to homepage">{{ .Title }}</a></h1>
        <p>{{ .Params.Date.Format "Monday, 2 January 2006" | default "In the beginning, there were ..." }}</p>
    </header>

    <blockquote><p>{{ .Params.description }}</p></blockquote>
    
    <section>
    {{ .Content }}

    <blockquote>Last update on {{ $.Page.Lastmod.Format "Monday, 2 January 2006"}}</blockquote>
    </section>
 
</article>

{{ end }}

{{ define "footer" }}

    {{- if or .PrevInSection .NextInSection -}}

        <footer>

            {{ with .NextInSection }}
            <div>
                <p>‹ Newer</p>
                <a href="{{ .Permalink }}" rel="next">{{ .Title }}</a>
            </div>
            {{ end }}
            
            {{ with .PrevInSection }}
            <div>
                <p>Older ›</p>
                <a href="{{ .Permalink }}" rel="prev">{{ .Title }}</a>
            </div>
            {{ end }}

        </footer>

    {{ end }}

{{ end }}