{{ define "main" }}

<!-- Content -->
<article>

    <header>
        <h1><a href="/" title="Go to homepage">{{ .Title }}</a></h1>
        <p>{{ .Params.Date.Format "Friday, 2 January 2006" }}</p>
    </header>

    <blockquote>
        <p>{{ .Params.description }}</p>
    </blockquote>
    
    <section>
    {{ .Content }}
    </section>

</article>

{{ end }}

{{ define "footer" }}

    {{- if or .PrevInSection .NextInSection -}}

        <footer>
            
            {{ with .NextInSection }}
                <div>
                    <p>‹ Previous</p>
                    <a href="{{ .Permalink }}" rel="next">{{ .Title }}</a>
                </div>
            {{ end }}

            {{ with .PrevInSection }}
                <div>
                    <p>Next ›</p>
                    <a href="{{ .Permalink }}" rel="prev">{{ .Title }}</a>
                </div>
            {{ end }}

        </footer>

    {{ end }}

{{ end }}