/* hr toc */
div > a {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
    text-decoration: none;
    margin-bottom: 5px;
}

a > time {
    margin: 0;
}

a > hr {    
    flex: 1 0 1rem;
    margin: 0 10px;
}

div > a:hover {
    color: var(--on-canvas--dim); ;
}

a:hover hr {
    border-bottom: 1px solid rgba(112, 112, 112, 0.933);
}

/* my style */

main > footer {
    margin: 0;
}

time.year {
    display: block;
    margin-top: 20px;
    margin-bottom: -40px;
    font-size: x-large;
}

time.month {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

footer > div:last-child {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
}

footer > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

html {
    scroll-behavior: smooth;
  }

article > section:last-child {
    margin-top: 30px;
    margin-bottom: -20px;
    border-block-start: var(--border);
    padding-block-start: var(--gap);
}

article > section:last-child > p {
    padding: 0 15px;
    font-size: 15px;
}